<section>
    <div class="left">
        <div class="top">
            <h2>our offers</h2>
            <p>
                Itaque veritatis, enim earum, distinctio excepturi facilis consequuntur voluptatem labore eveniet iure
                soluta accusantium id qui ratione animi fuga. Asperiores molestiae facere commodi dolore, consequuntur
                laborum repudiandae blanditiis quo nisi.
            </p>
                <button><span>read more</span> <fa-icon [icon]="faRightLong" class="icon"></fa-icon> </button>
                
        </div>
        <div class="bottom">

        </div>
    </div>
    <div class="right">
        <div class="top">

        </div>
        <div class="bottom">
            <h2>our quality</h2>
            <p>
                Itaque veritatis, enim earum, distinctio excepturi facilis consequuntur voluptatem labore eveniet iure
                soluta accusantium id qui ratione animi fuga. Asperiores molestiae facere commodi dolore, consequuntur
                laborum repudiandae blanditiis quo nisi.
            </p>
                <button><span>read more</span> <fa-icon [icon]="faRightLong" class="icon"></fa-icon> </button>
                
        </div>
    </div>
</section>