section {
    display: flex;
    height: 100vh;
    padding:2rem;
    gap:2rem;
    background-color:#fff;

    .left {
        width: 50%;


        .bottom {
            background: rgba(0, 0, 0, .1) url('../../../assets/img/5-min.jpg');
            background-blend-mode: darken;
            background-position: center;
            height: 50%;
            background-size: cover;
        }

        .top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3rem;
            gap: 1.4rem;
            align-items: flex-start;
            height: 50%;

            h2 {
                font-size: 2.5rem;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #a99a83;
                font-weight: 500;
            }

            p {
                color: #444;
                font-weight: 400;
                width: 75%;
                font-size: 1.5rem;
            }

            button {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-transform: capitalize;
                color: #444;
                font-size: 1.4rem;
                cursor: pointer;
                background: transparent;

                &:hover .icon {
                    transform: translateX(1rem);
                }

                span {
                    border-bottom: 2px solid #444;
                }

                .icon {
                    color: #444;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right {
        width: 50%;


        .top {
            background: rgba(0, 0, 0, .1) url('../../../assets/img/4-min.jpg');
            background-blend-mode: darken;
            background-position: center;
            height: 50%;
            background-size: cover;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3rem;
            gap: 1.4rem;
            align-items: flex-start;
            height: 50%;

            h2 {
                font-size: 2.5rem;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #a99a83;
                font-weight: 500;
            }

            p {
                color: #444;
                font-weight: 400;
                width: 75%;
                font-size: 1.5rem;
            }

            button {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-transform: capitalize;
                color: #444;
                font-size: 1.4rem;
                cursor: pointer;
                background: transparent;

                &:hover .icon {
                    transform: translateX(1rem);
                }

                span {
                    border-bottom: 2px solid #444;
                }

                .icon {
                    color: #444;
                    font-size: 1.3rem;
                }
            }
        }
    }
}


@media screen and (max-width:1200px) {
    section {
        flex-direction: column;
        height: auto;

        .left,
        .right {
            width: 100%;
            height: 60rem;
            padding: 2rem;
        }

    }
}