footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:4rem 1rem;
    background-color: rgba(0,0,0,.9);

    .icon{
        color:#bd965b;
        font-size: 5rem;
    }

    span{
        color:#fff;
        font-size: 1.5rem;
    }

    div{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:2rem;

        span{
            color:#bd965b;
            padding-bottom: 1rem;
            border-bottom: 2px solid #bd965b;
            cursor:pointer;
            text-transform: uppercase;
            letter-spacing:2px;
        }
    }
}