header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    position:absolute;
    padding:1rem 6rem;
    top:0;
    left:0; right:0;
    z-index:10;
    border-bottom: .5px solid #a99a83;
    background-color: rgba(0,0,0, .4);

    .icon {
        color: #a99a83;
        font-size: 2rem;
    }

    nav{
        display:flex;
        align-items: center;
        gap:3rem;
        
        a{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            color:#fff;
            padding-bottom:.5rem;
            transition:.3s all ease-in-out;

            &:hover{
                opacity:70%;
            }
        }
    }

    button {
        color: #000;
        padding: 1.5rem 2.5rem;
        text-transform: capitalize;
        background: transparent;
        letter-spacing: 1px;
        cursor: pointer;
        font-weight: 400;
        background-color: #bd965b;
        font-size: 1.3rem;
        width: 15rem;
    }
}

@media screen and (max-width:768px){
    
}