section {
    height: 100vh;
    background-color: #000;
    background: rgba(0, 0, 0, .7) url('../../../assets/img/5-min.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;

    .onBackground {
        height: 100%;
        display: flex;                                       
        flex-direction: column;                                                                                                     
        gap: 1.5rem;
        justify-content: center;                                                                                                                                                                                    
        align-items: center;
        padding: 2rem;
        padding-top: 10rem;

        span {
            color: #b7ab98;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            width: 60%;
            text-align: center;
        }

        h1 {
            font-size: 8rem;
            color: #cac5bb;
            text-transform: capitalize;
            letter-spacing: 3px;
            width: 60%;
            text-align: center;
            font-weight: 200;
        }

        
    }

    .right {
        width: 50%;

    }
}

@media screen and (max-width:768px) {
    section {
        text-align: center;

        h1 {
            font-size: 4rem;
        }
    }
}