section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 4rem;
    height: 100vh;
    background-image: url('../../../assets/img/5-min.jpg');
    background-position: center;
    background-size: cover;

    .box {
        width: 35rem;
        min-height: 30rem;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        .icon {
            font-size: 2.5rem;
            color: #444;
        }

        p {
            text-align: center;
            color: #444;
            font-weight: 400;
            font-size: 1.4rem;
            width: 75%;
        }

        img{
            width: 6.5rem;
            height: 6rem;
            border-radius:9999px;
        }

        span {
            color: #444;
            font-size: 2rem;
        }

        .stars {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            .star {
                font-size: 1.1rem;
                color: #444;
            }
        }
    }

}


@media screen and (max-width:991px) {
    section {
        height:auto;
        flex-direction: column;
        flex-wrap:wrap;
    }
}