<section>
    <h3>special selection</h3>
    <h2>from our menu</h2>
    <div class="container">
        <div class="left">
            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$29</div>
            </div>
            
            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$19</div>
            </div>
            
            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$22</div>
            </div>

            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$29</div>
            </div>
        </div>

        <fa-icon [icon]="faMinus" class="icon"></fa-icon>

        <div class="right">
            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$29</div>
            </div>

            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$30</div>
            </div>

            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$19</div>
            </div>

            <div class="food">
                <span>food name</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="price">$35</div>
            </div>
        </div>
    </div>
    <button>view all</button>
</section>
